services:
  web:
    container_name: portfolio_web
    image: portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production