name: Deploy to Production

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create .env from Secrets
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build
          docker image prune -f
