name: Deploy to Production

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create .env from Secrets
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build
          docker image prune -f

      - name: Ensure Tailscale Funnel is Up
        run: |
          # Wait a moment for the container to initialize
          sleep 10
          docker exec tailscale tailscale funnel --bg --https=443 http://localhost:3000
